$card-background: rgb(239, 241, 244);
$card-font-color: rgb(53,63, 78);
$primary-font-color: rgb(112, 174, 145);

.card {
    background-color: $card-background;
    border: 2px solid $card-font-color;
    border-radius: 10px;
    height: 320px;
    cursor: pointer;
    .cardIcon {
        width: 200px;
        height: 180px;
    }

    .cardText {
        color: $card-font-color;
        font-size: 20px;
        font-weight: 500;
    }
}

.comingSoon {
    color: $primary-font-color;
    font-size: 22px;
    font-weight: bold;
}